@import './vendor/tachyons@4.7.4.css';

.miriam-libre {
    font-family: 'Miriam Libre', sans-serif;
}

.mw-200 {
    max-width: 200px;
}

.profile-toggle-children > span:last-child,
.profile-toggle-children > span:last-child,
.profile-toggle-children > span:last-child {
    height: 0;
    margin-left: -50px;
    opacity: 0;
    overflow: hidden;
    transition: all 0.25s ease-out;
}

.profile:active .profile-toggle-children > span:first-child,
.profile:focus .profile-toggle-children > span:first-child,
.profile:hover .profile-toggle-children > span:first-child {
    display: none;
}

.profile:active .profile-toggle-children > span:last-child,
.profile:focus .profile-toggle-children > span:last-child,
.profile:hover .profile-toggle-children > span:last-child {
    height: auto;
    margin-left: 0;
    opacity: 1;
}

.slider {
    overflow: hidden;
}

.slides {
    animation: slidy 30s infinite alternate;
    left: 0;
    position: relative;
    width: 500%;
}

.slides > img {
    float: left;
    vertical-align: bottom;
    width: 20%;
}

@keyframes slidy {
    0% {
        left: 0%;
    }

    18% {
        left: 0%;
    }

    22% {
        left: -100%;
    }

    40% {
        left: -100%;
    }

    44% {
        left: -200%;
    }

    62% {
        left: -200%;
    }

    66% {
        left: -300%;
    }

    84% {
        left: -300%;
    }

    88% {
        left: -400%;
    }

    100% {
        left: -400%;
    }
}

[data-aload] {
    background-image: none !important;
}

@media screen and (min-width: 70em) {
    .flex-no-wrap-xl {
        flex-wrap: nowrap;
    }
}
